@page "/counter"
@inject DialogService DialogService
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<RadzenButton Text="@text" Click="@IncrementCount"></RadzenButton>
<div class="rz-p-sm-12 rz-text-align-center">
    <RadzenLabel Text="Select Value" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" />
    <RadzenDropDown @bind-Value=@value Data=@companyNames Style="width: 100%; max-width: 400px;" Name="DropDownBindValue" />
</div>
@code {
    string text = "Hi";

    private int currentCount = 0;

    private async Task IncrementCount()
    {
        await DialogService.OpenAsync<Counter>($"Order {text}",
            null,
            new DialogOptions() { Width = "700px", Height = "530px", Resizable = true, Draggable = true });
    }

    string value = "Around the Horn";
    IEnumerable<string> companyNames;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        companyNames = new List<string>
        {
            "Alfreds Futterkiste",
            "Around the Horn",
            "B's Beverages",
            "Consolidated Holdings",
            "Eastern Connection",
            "Island Trading",
            "North/South",
            "Seven Seas",
            "Spices and Teas",
            "The Big Cheese",
            "The Cracker Box",
            "Vins et alcools",
            "Wolski Zajazd"
        };
    }
}
